<div class="container-fluid desciption">
    <div class="row justify-content-around" style="height: 50%;">
        <div class="col-sm-2" style="height: 90%;
            overflow-y: auto;">
            <img class="MycustomImg" *ngFor="let item of listeImg" [src]="item" (click)="onClickImg(item)" width="100%"
                alt="">
        </div>
        <div class="col-md-5" style="height: 90%;">
            <img *ngIf="Annonce.images.length > 0" style="border-radius: 10px;" src="{{selectedImg}}" width="100%" alt="">
            
            <div *ngIf="Annonce.images.length <= 0" style="height:300px;width:500px;text-align-last: center;">
                <img class="user1" src="assets/images/Ellipse1.png" style="position:absolute;top:10px;left:250px;">
                <img class="user2" src="assets/images/Ellipse2.png" style="position:absolute;top:50px;left:100px;">
                <img class="user3" src="assets/images/Ellipse3.png" style="position:absolute;top:100px;left:105px;">
                <img class="user6" src="assets/images/Ellipse6.png" style="position:absolute;top:30px;left:250px;">
                <img class="user4" src="assets/images/Ellipse4.png" style="position:absolute;top:60px;left:350px;">
                <img class="user5" src="assets/images/Ellipse5.png" style="position:absolute;top:100px;left:120px;">
                <img class="user6" src="assets/images/Ellipse6.png" style="position:absolute;top:130px;left:230px;">
                <img class="user7" src="assets/images/Ellipse1.png" style="position:absolute;top:160px;left:290px;">
                <img class="user8" src="assets/images/Ellipse2.png" style="position:absolute;top:136px;left:300px;">
                <img class="user9" src="assets/images/Ellipse3.png" style="position:absolute;top:190px;left:335px;">
                <img class="user10" src="assets/images/Ellipse4.png" style="position:absolute;top:170px;left:50px;">
                <img class="user11" src="assets/images/Ellipse5.png" style="position:absolute;top:150px;left:290px;">
                <img class="user12" src="assets/images/Ellipse6.png" style="position:absolute;top:250px;left:260px;">
                <img class="user1" src="assets/images/Ellipse1.png" style="position:absolute;top:200px;left:270px;">
                <img class="user1" src="assets/images/Ellipse1.png" style="position:absolute;top:270px;left:210px;">
                <img class="user1" src="assets/images/Ellipse1.png" style="position:absolute;top:306px;left:90px;">
                <img class="user1" src="assets/images/Ellipse1.png" style="position:absolute;top:340px;left:270px;">
                <img class="user2" src="assets/images/Ellipse2.png" style="position:absolute;top:250px;left:180px;">
                <img class="user2" src="assets/images/Ellipse2.png" style="position:absolute;top:190px;left:130px;">
                <img class="user2" src="assets/images/Ellipse2.png" style="position:absolute;top:360px;left:190px;">
                <img class="user" src="assets/images/empty-states-app-vendas.png" style="height:50%">
                <h2 style="margin-top:40px;">Aucune image n'a été signé a cette offre *
                </h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 100%;height: 380px;font-size:30px">
                <img *ngIf="Vendeure.imagesP != 'http://localhost:3000null'"  src={{Vendeure.imagesP}} class="card-img-top rounded-circle" alt="..." style="height: 80px;
                width: 80px;
                margin-top: 20px;
                align-self: center;
                object-fit: cover;
                padding: 3px;
                border: solid 2px #E8EBE9;">
                <img *ngIf="Vendeure.imagesP == 'http://localhost:3000null'" src="/assets/images/logo_black.png" class="card-img-top rounded-circle" alt="..." style="height: 80px;
                width: 80px;
                margin-top: 20px;
                align-self: center;
                object-fit: cover;
                padding: 3px;
                border: solid 2px #E8EBE9;">
                <div class="card-body" style="padding: 5% !important;">
                    <h5 class="card-title" style="font-family: Arial ;font-weight: bold;font-size: 15px;">{{ Vendeure.prenom }} {{ Vendeure.nom }}
                    </h5>
                    <p class="card-text" style="font-family: Arial ;font-weight: bold;font-size: 10px;color: #848F8F;">
                        <i class="fas fa-star" style="color: #EFBF11;"></i> 4/5 <i
                            style="color: #19B47A;">(<u>124</u>)</i></p>
                    <button class="btn " style="font-size: 50%;background-color: #D1F1E6;color: black;"  (click)="showNum()">{{ Num}}
                        </button>
                    <button  class="btn" style="font-size: 10px;margin-top: 5px;color: #A3ABAB;">{{ Vendeure.annonce }} propriété</button>

                </div>
                <div class="card-footer">
                    <div class="row justify-content-center">
                        <button class="btn" style="font-size: 10px;color: white;background-color: #19B47A;" (click)="showMail()"><i
                                class="far fa-envelope"></i> Contacter l'agent</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md" style="padding-right: 50px;">
            <div class="row" style="border-bottom:  solid 1px #F2F4F2;margin-left: 5px;">
                <div class="col-md-3">
                    <div class="row">
                        <label for="" style="color: #19B47A;">{{ Annonce.Prix }} DH</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <label for="" style="color: black;font-size: 18px;">{{ Annonce.Titre }}</label>
                    </div>
                    <div class="row">
                        <label for="" style="color: #A3ABAB ;font-size: 14px;">{{ Annonce.Quartier }},
                            {{ Annonce.Ville }}</label>
                    </div>
                </div>
                <div class="col-md-2" style="display: flex;align-items: center;">

                    <button *ngIf="!isVendeur" class="btn fasbtn" (click)="likedPost()" [style.color]="liked ? colorLike : colorNoLike"><i
                            class="fas fa-heart"></i></button>
                    <div ngbDropdown class="d-inline-block">
                        <button ngbDropdownToggle class="btn" style="background-image: url(../../assets/images/button/btn_option.png);    background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;"></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="text-align: center;">
                            <button class="btn">signaler <i class="fas fa-exclamation"></i></button>
                            <a type="button" class="btn" [routerLink]="['/Ajout/', idOffre]" >Modifier <i class="fas fa-share-alt"></i></a>
                            <button class="btn">Supprimer <i class="fab fa-creative-commons-share"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 80%;">
                <div class="col-sm-4 ">
                    <div class="row" style="height: 30%;">
                        <div class="col">
                            <div class="row justify-content-around" style="font-size: 90%;color: #A3ABAB;">Salle de bain
                            </div>
                            <div class="row justify-content-center" style="font-size: 130%;    align-items: baseline;">
                                {{ Annonce.NombreSB }}
                                <i style="margin-left: 10px;" class="fas fa-toilet"></i></div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-around" style="font-size: 90%;color:#A3ABAB ;">Pièces</div>
                            <div class="row justify-content-center" style="font-size: 130%;    align-items: baseline;">
                                {{ Annonce.NombrePiece }}
                                <i style="margin-left: 10px;" class="fas fa-dice-d6"></i></div>
                        </div>

                    </div>

                    <div class="row" style="height: 30%;">
                        <div class="col">
                            <div class="row justify-content-around" style="font-size: 90%;color: #A3ABAB;">Surface</div>
                            <div class="row justify-content-center" style="font-size: 130%;    align-items: baseline;">
                                {{ Annonce.Surface }} m<sup>2</sup></div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-around" style="font-size: 90%;color:#A3ABAB ;">Construction
                            </div>
                            <div class="row justify-content-center" style="font-size: 130%;    align-items: baseline;">
                                {{ Annonce.DateConst| date:'yyyy'}} <i style="margin-left: 10px;"
                                    class="fas fa-hammer"></i></div>
                        </div>
                    </div>

                    <div class="row" style="height: auto;">
                        <div class="col">
                            <div class="row justify-content-around" style="font-size: 90%;color: #A3ABAB;">Parking</div>
                            <div class="row justify-content-center" style="font-size: 130%;    align-items: baseline;">
                                {{ Annonce.NombreParking }}
                                <i style="margin-left: 10px;" class="fas fa-parking"></i></div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-around" style="font-size: 90%;color:#A3ABAB ;">Zone verte
                            </div>
                            <div class="row justify-content-center" style="font-size: 130%;    align-items: baseline;">
                                <div class="progress" style="width: 100px;margin-top: 10px;">
                                    <div class="progress-bar " role="progressbar"
                                        [ngStyle]="{'width.px':  Annonce.Verdure}"
                                        style="border-radius: 5px;background: -webkit-linear-gradient(left, #FEC702 0%,#4DB54A 100%);"
                                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" placement="top"
                                        ngbTooltip="{{ Annonce.Verdure }} %"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="height: 80%;">
                    <div class="row">
                        <label>Description</label>
                    </div>
                    <div class="row " style="overflow: auto;height: 100%;">
                        <label style="color: #A3ABAB ;border: none;height: 240px;">
                            {{ Annonce.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>