<div class="container-fluid" style="height:80%">
    <div class="row">
        <label for="" style="margin-left: 10px ;">Choix du profile :</label>
    </div>
    <div class="row" style="align-content: center;overflow: auto;
    height: 100%; padding-top: 55%;   margin-left: 20px;">
        <div class="col-md-auto">
            <div class="card offre1" style="background-image: url(../../assets/images/awsome_deco.jpg);">

                <h5 class="card-title">Starter pack</h5>
                <div class="filtre">
                    <div class="card-body">
                        <p class="card-text" style="margin-top: 40%;">Caractéristiques :<br></p>
                        <ul>
                            <li>Une seul offre possible.</li>
                            <li>Consultation des autres offres . </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer " style="border: none;">
                    <div class="btn buy" (click)="clickChoix(1)" >
                        Gratuit</div>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="card offre1"
                style="background-image: url(../../assets/images/inter.jpg);background-position: 20%;">
                <h5 class="card-title">Intermédiaire pack</h5>
                <div class="filtre">
                    <div class="card-body">
                        <p class="card-text" style="margin-top: 40%;">Caractéristiques :<br></p>
                        <ul>
                            <li>Une seul offre possible.</li>
                            <li>Consultation des autres offres . </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer " style="border: none;">
                    <div class="btn buy" (click)="clickChoix(2)" 
                        >
                        50dh / mois</div>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="card offre1"
                style="background-image: url(../../assets/images/agencep.jpg);background-position: 20%;">
                <h5 class="card-title">Agence pack</h5>
                <div class="filtre">
                    <div class="card-body">
                        <p class="card-text" style="margin-top: 40%;">Caractéristiques :<br></p>
                        <ul>
                            <li>Une seul offre possible.</li>
                            <li>Consultation des autres offres . </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer  " style="border: none;">
                    <div class="btn buy" (click)="clickChoix(3)" 
                       >
                        150dh / mois</div>
                </div>
            </div>
        </div>
    </div>
</div>