<div id="message" class="container-fluid   Main" style="height: 98vh;font-family: Arial Rounded MT Bold;overflow: hidden;" center>
  <div class="row" style="height: 100%;">
      <div class="{{sizeDiv}}" style="max-height: 100%;padding: 0px;">
        <app-map></app-map>
      </div>
        <div class="col h-100" style="padding: 0px;margin-right: 15px;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; overflow-y: hidden;
        "><app-acceuil></app-acceuil>
      </div>
  </div>
</div>
